.itemdescriptiondescriptionratinglikeitemreviewsetc-container {
  min-height: 100vh;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-itemdescriptiondescriptionratinglikeitemreviewsetc {
  width: 100%;
  height: 2299px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div {
  top: 374px;
  left: 192px;
  width: 80px;
  height: 582px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div01 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 528px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div02 {
  top: 0px;
  left: 0px;
  width: 80px;
  display: flex;
  padding: 0 0 88px 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div03 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  margin-bottom: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065631jpg {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div04 {
  width: 80px;
  height: 80px;
  display: flex;
  opacity: 0.50;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  margin-bottom: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065632jpg {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div05 {
  width: 80px;
  height: 80px;
  display: flex;
  opacity: 0.50;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  margin-bottom: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065633jpg {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div06 {
  width: 80px;
  height: 80px;
  display: flex;
  opacity: 0.50;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  margin-bottom: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065634jpg {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div07 {
  width: 80px;
  height: 80px;
  display: flex;
  opacity: 0.50;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  margin-bottom: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065635jpg {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div08 {
  width: 80px;
  height: 80px;
  display: flex;
  opacity: 0.50;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065636jpg {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg {
  top: 530.3125px;
  left: 28px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div09 {
  top: 355px;
  left: 310px;
  width: 655px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(245, 245, 246, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-m589208065631jpg1 {
  top: 0px;
  left: 0px;
  width: 655px;
  height: 600px;
  position: absolute;
  border-color: transparent;
  border-radius: 2px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div10 {
  top: 14px;
  left: 564.3125px;
  width: 77px;
  display: flex;
  padding: 6px 16px 6px 20px;
  position: absolute;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: center;
  border-color: transparent;
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 2.6875px;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg01 {
  width: 28px;
  height: 28px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div11 {
  top: 280px;
  left: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(76, 76, 76, 0.2800000011920929) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg02 {
  top: 32px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div12 {
  top: 280px;
  left: 601px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(76, 76, 76, 0.2800000011920929) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg03 {
  top: 8px;
  left: 32px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div13 {
  top: 951px;
  left: 198px;
  width: 293px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div14 {
  display: flex;
  padding: 0 0 0 16px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-span {
  display: flex;
  padding: 0 0.5px 0 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 32px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg04 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text001 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-button {
  display: flex;
  padding: 1px 17px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(183, 126, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-span1 {
  display: flex;
  padding: 0 1.28125px 0 0;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-didnotlikeitem {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 9px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-frame {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text003 {
  width: max-content;
  color: rgba(183, 126, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div15 {
  top: 1039px;
  left: 198px;
  width: 767px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text005 {
  top: 1088px;
  left: 198px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-ellipse25 {
  top: 1136px;
  left: 198px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text007 {
  top: 1150px;
  left: 332px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div16 {
  top: 1182px;
  left: 332px;
  width: 362px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div17 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div18 {
  top: 2px;
  left: 0px;
  width: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg05 {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg06 {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg07 {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg08 {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg09 {
  width: 16px;
  height: 16px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text009 {
  left: 88px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text011 {
  left: 113.421875px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text013 {
  left: 167.265625px;
  color: rgba(205, 206, 210, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div19 {
  top: 0px;
  left: 179.53125px;
  width: 123px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text014 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text016 {
  top: -1px;
  left: 26.46875px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text018 {
  left: 68.171875px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text020 {
  top: -1px;
  left: 91.96875px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div20 {
  top: 1210px;
  left: 332px;
  width: 362px;
  display: flex;
  padding: 0 247.125px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-icnverifiedsvg {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text022 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div21 {
  top: 1108px;
  left: 734.125px;
  width: 231px;
  display: flex;
  padding: 0 0 0 7px;
  position: absolute;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-a {
  width: 109.75px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 12px;
  background-color: rgba(236, 237, 241, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text024 {
  top: 6px;
  left: 16px;
  color: rgba(34, 34, 34, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text026 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-image1 {
  top: 1192px;
  left: 814px;
  width: 151px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text028 {
  top: 366px;
  left: 1021px;
  color: rgba(34, 34, 34, 1);
  width: 476px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text033 {
  top: 478px;
  left: 1021px;
  color: rgba(183, 126, 255, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text035 {
  top: 507px;
  left: 1021px;
  color: rgba(34, 34, 34, 1);
  width: 61px;
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text037 {
  top: 707px;
  left: 1021px;
  color: rgba(34, 34, 34, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div22 {
  top: 743px;
  left: 1021px;
  width: 118px;
  display: flex;
  padding: 0 27.875px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text039 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 7.125px;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg10 {
  width: 16px;
  height: 16px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text041 {
  top: 743px;
  left: 1139px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text043 {
  top: 777px;
  left: 1021px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text045 {
  top: 777px;
  left: 1139px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text047 {
  top: 811px;
  left: 1021px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div23 {
  top: 811px;
  left: 1139px;
  width: 367px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text049 {
  top: -1px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text051 {
  top: -1px;
  left: 40.046875px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text053 {
  top: -1px;
  left: 91.90625px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text055 {
  top: -1px;
  left: 156.359375px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text057 {
  top: 845px;
  left: 1021px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div24 {
  top: 845px;
  left: 1139px;
  width: 176px;
  display: flex;
  padding: 0 9.78125px 4px 0;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text059 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 8.71875px;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text061 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 8.71875px;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text063 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text065 {
  top: 903px;
  left: 1021px;
  color: rgba(34, 34, 34, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div25 {
  top: 939px;
  left: 1021px;
  width: 118px;
  display: flex;
  padding: 0 69.75px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text067 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 4.25px;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg11 {
  width: 16px;
  height: 16px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text069 {
  top: 939px;
  left: 1139px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text071 {
  top: 973px;
  left: 1021px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text073 {
  top: 973px;
  left: 1139px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div26 {
  top: 682px;
  left: 1021px;
  width: 509px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div27 {
  top: 778px;
  left: 1021px;
  width: 509px;
  display: flex;
  padding: 0 359px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div28 {
  top: 812px;
  left: 1021px;
  width: 509px;
  display: flex;
  padding: 0 360px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div29 {
  top: 846px;
  left: 1021px;
  width: 509px;
  display: flex;
  padding: 0 24.140625px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div30 {
  top: 880px;
  left: 1021px;
  width: 509px;
  display: flex;
  padding: 0 214.78125px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div31 {
  top: 974px;
  left: 1021px;
  width: 509px;
  display: flex;
  padding: 0 328px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div32 {
  top: 1297px;
  left: 198px;
  width: 1332px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div33 {
  top: 1358px;
  left: 198px;
  width: 1332px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text075 {
  top: -1px;
  color: rgba(34, 34, 34, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text077 {
  top: 3px;
  left: 203.859375px;
  color: rgba(183, 126, 255, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div34 {
  top: 1418px;
  left: 198px;
  width: 1332px;
  height: 156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div35 {
  top: 0px;
  left: 0px;
  width: 388px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div36 {
  top: 0px;
  left: 0px;
  width: 388px;
  display: flex;
  padding: 0 203px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div37 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg12 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg13 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg14 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg15 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg16 {
  width: 24px;
  height: 24px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text079 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text081 {
  top: 40px;
  color: rgba(34, 34, 34, 1);
  width: 190px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div38 {
  top: 84px;
  left: 0px;
  width: 388px;
  display: flex;
  padding: 0 225px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div39 {
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 24px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-memberphotonoimagev2png {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text083 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div40 {
  top: 0px;
  left: 452px;
  width: 388px;
  height: 156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div41 {
  top: 0px;
  left: 0px;
  width: 388px;
  display: flex;
  padding: 0 209px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div42 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg17 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg18 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg19 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg20 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg21 {
  width: 24px;
  height: 24px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text085 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text087 {
  top: 40px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div43 {
  top: 84px;
  left: 0px;
  width: 388px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text089 {
  top: 13px;
  left: 64px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div44 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-logobluepng {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-ellipse26 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div45 {
  top: 0px;
  left: 904px;
  width: 388px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div46 {
  top: 0px;
  left: 0px;
  width: 388px;
  display: flex;
  padding: 0 209px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div47 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg22 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg23 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg24 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg25 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-svg26 {
  width: 24px;
  height: 24px;
  position: relative;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text091 {
  color: rgba(107, 107, 107, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text093 {
  top: 40px;
  color: rgba(34, 34, 34, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div48 {
  top: 84px;
  left: 0px;
  width: 388px;
  display: flex;
  padding: 0 234px 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-div49 {
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 24px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-image645191214jpg {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text095 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-group38 {
  top: 177px;
  left: 135px;
  width: 1459px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle44 {
  top: 1px;
  left: 331px;
  width: 136px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle50 {
  top: 1px;
  left: 0px;
  width: 137px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle45 {
  top: 1px;
  left: 496px;
  width: 136px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle51 {
  top: 1px;
  left: 166px;
  width: 136px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle46 {
  top: 1px;
  left: 661px;
  width: 136px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle47 {
  top: 0px;
  left: 826px;
  width: 136px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle48 {
  top: 0px;
  left: 991px;
  width: 136px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle49 {
  top: 0px;
  left: 1156px;
  width: 137px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle52 {
  top: 0px;
  left: 1322px;
  width: 137px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text097 {
  top: 11px;
  left: 203px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text099 {
  top: 11px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text101 {
  top: 11px;
  left: 362px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text103 {
  top: 11px;
  left: 548px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text105 {
  top: 11px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text107 {
  top: 11px;
  left: 863px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text109 {
  top: 11px;
  left: 1012px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text111 {
  top: 11px;
  left: 1200px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text113 {
  top: 11px;
  left: 1362px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-ellipse23 {
  top: 102px;
  left: 1475px;
  width: 40px;
  height: 40px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-group36 {
  top: 102px;
  left: 1152px;
  width: 116px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text115 {
  top: 11px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text117 {
  top: 95px;
  left: 251.0908203125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text118 {
  color: rgba(0, 0, 0, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-group1 {
  top: -467px;
  left: 346px;
  width: 32.145774841308594px;
  height: 47.72705078125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle33 {
  top: 35.78580856323242px;
  left: 32.145790100097656px;
  width: 26px;
  height: 18px;
  position: absolute;
  border-color: transparent;
  border-radius: 8.949585914611816px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle34 {
  top: 15.966985702514648px;
  left: 31.659570693969727px;
  width: 26px;
  height: 18px;
  position: absolute;
  border-color: transparent;
  border-radius: 8.949584007263184px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle35 {
  top: 43.874610900878906px;
  left: 16.178804397583008px;
  width: 36px;
  height: 18px;
  position: absolute;
  border-color: transparent;
  border-radius: 8.949585914611816px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle37 {
  top: 102px;
  left: 406px;
  width: 711px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 22.5px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-image {
  width: 100px;
  object-fit: cover;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-ellipse21 {
  top: 104px;
  left: 408px;
  width: 36px;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-group26 {
  top: 111.7001953125px;
  left: 429.966796875px;
  width: 15.30007553100586px;
  height: 18.212026596069336px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-ellipse8 {
  top: 1.4673668167703369px;
  left: -5.404559157080257px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.6403738260269165px;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-line9 {
  top: 12.343965032187626px;
  left: -1.409530979305373px;
  width: 8px;
  height: 0px;
  position: absolute;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-line10 {
  top: 109px;
  left: 1288px;
  width: 28px;
  height: 0px;
  position: absolute;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-rectangle43 {
  top: 161px;
  left: -1px;
  width: 1729px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-group57 {
  top: 594px;
  left: 1021px;
  width: 509px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-button1 {
  top: 0px;
  left: 0px;
  width: 246.5px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text119 {
  top: 11px;
  left: 80.921875px;
  color: rgba(34, 34, 34, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-button2 {
  top: 0px;
  left: 262.5px;
  width: 246.5px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(183, 126, 255, 1);
}
.itemdescriptiondescriptionratinglikeitemreviewsetc-text121 {
  top: 11px;
  left: 82.890625px;
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
